<template>
    <v-container>
    <v-form v-model="validForm">
        <v-row>
            <h1>Drop Down Frage</h1>
            <v-col>
                <v-text-field v-model="value.title"
                              label="Title of Question"
                              :disabled="disableFields"
                              @change="$emit('input', value)"
                              :rules="[v => !!v || 'Title is required']"
                              color="green"
                              autofocus
                              required>
                </v-text-field>
            </v-col>gvjbnvbncbn
        </v-row>
        <v-row>
            <v-col>
                <v-text-field v-model="value.questionText"
                              label="Actual Question"
                              :disabled="disableFields"
                              @change="$emit('input', value)"
                              :rules="[v => !!v || 'Question is required']"
                              color="green"
                              required>
                </v-text-field>

                <v-btn @click="splitAnwser(value.questionText)" >Split Questions into Dropdown</v-btn>
            </v-col>
        </v-row>
        <v-row>
                <v-combobox
                v-model="value.select"
                :items="itemsListDropdown1"
                label="DropDown1"
                change="select"
                ></v-combobox> 

                <v-combobox
                v-model="value.select"
                :items="itemsListDropdown2"
                label="DropDown2"
                change="select"
                ></v-combobox> 
        </v-row>
        <v-row>
            <v-col>
                <v-text-field v-model="value.Fake1"
                              label="Add Fake Answers For Dropdown1"
                              >
                </v-text-field>
                <v-btn>Add</v-btn>
            </v-col>
             <v-col>
                <v-text-field v-model="value.Fake2"
                              label="Add Fake Answers For Dropdown2"
                              >
                </v-text-field>
                <v-btn>Add</v-btn>
            </v-col>
        </v-row>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        name: "QuestionForm",
        props: {
            value: Object,
            quizId: Number,
            disableFields: Boolean
        },
        data: () => ({
            validForm: false,
            itemsListDropdown1: ["Test", "Test"],
            itemsListDropdown2: ["Test", "Test"],
            splitString:""
        }),
        watch: {
            validForm: function (newValidity) {
                this.$emit('validation', newValidity);
            }
        },
        methods: {
            splitAnswer(value) {
                splitString = value;
                
           }   },
    }
</script>
