<template>
    <div>
        <h1>Demo Komponente</h1>

        <p>Der Wert ist {{value}}</p>
        <p>Der Wert ist {{value * 3}}</p>

        <v-slider v-model="value" min="20" max="80" step="5" @change="checkValue"></v-slider>
    </div>
</template>

<script>
    export default {
        name: "TestComponente",

        data: () => ({
            value: 50
        }),

        methods: {
            checkValue(Wert){
                if (wert > 70) {
                    alert("Achtung")
                }
                console.log(Wert)
            }
        }
    }
</script>

<style scoped>

</style>